.PokemonRow{
    border: grey 1px solid ;
    height: 276px; 
    width: 153px; 
    display: inline-block;
    position: relative;
}

.PokemonImage{
   width: 136px;
   margin-top: 45px;
   margin-left: 8px;
   margin-right: 10px;
}
.cardFotter{
    background: lightgray; 
    
}

