/* .PokemonRow{
    display: flex;
    flex-direction: column;
    width: clamp(10rem, calc(10rem + 2vw), 15rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    background: #ECE9E6;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    border: 0.20px solid rgb(177, 158, 158);

}

.img{
    max-width: 20%;
    display: block;
    object-fit: cover;
}


.cardFotter{
    display: block;
    padding: 5%;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    gap: .5rem;
    background-color: rgb(233, 227, 227);
}

.cardFotter.h4{
    font-size: 1.5rem;
    text-transform: capitalize; 
}

.p{
    padding-top: 1px
} */

.PokemonRow{
    border: grey 1px solid ;
    height: 276px; 
    width: 153px; 
    
}

.PokemonImage{
   width: 136px;
   margin-top: 45px;
   margin-left: 8px;
   margin-right: 10px;
   margin-bottom: 46px;
}
.cardFotter{
    background: lightgray;  
}

