.PokemonRow {
  border: lightgrey 1px solid;
  height: 276px;
  width: 153px;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  margin-top: 10px;
}

.PokemonImage {
  width: 136px;
  margin-top: 45px;
  margin-left: 8px;
  margin-right: 10px;
}

.cardFotter {
  background: rgb(241, 241, 241);
  display: table-cell;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55px;
  vertical-align: bottom;
  box-sizing: border-box;
  padding: 8px;
}

.textName {
  font-weight: bold;
  font-size: 17px;
}

.textType {
  font-size: 15.6px;
}

.favouriteIcon {
  position: relative;
  left: 117px;
  top: -26px;
  color: red;
}
