.App {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;   */
}

.Pokemons{

    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; */
}